<h2>Eventos do Components</h2>
<hr>
    <div class="form-group mb-2 d-flex col-3">
        <input type="text" class="form-control mr-3" placeholder="buscar" [(ngModel)]="filtroLista">
    </div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    <button type="button" class="btn btn-dark" (click)="isCollapsed = !isCollapsed"
                     [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">{{isCollapsed ? "Exibir" : "Ocultar"}}
                    </button>
                </th>
                <th>#</th>
                <th>Tema</th>
                <th>Local</th>
                <th>Data</th>
                <th>Qtd Pessoas</th>
                <th>Lote</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evento of Eventos">
                <td><img src="../../assets/fotos/{{evento.imagemURL}}"  [collapse]="isCollapsed" [isAnimated]="true" style="width: 100px;"></td>
                <td>{{evento.eventoId}}</td>
                <td>{{evento.tema}}</td>
                <td>{{evento.local}}</td>
                <td>{{evento.data}}</td>
                <td>{{evento.qtdPessoas}}</td>
                <td>{{evento.lote}}</td>
            </tr>
        </tbody>
    </table>
</div>
